<header class="bg-primary">
  <nav
    class="h-100 w-100 navbar navbar-fixed-top d-flex align-items-center justify-content-between p-0 px-3 m-0"
  >
    <div class="navbar-header">
      <span class="navbar-brand text-white">Github Interactive API</span>
    </div>
    <ul class="nav navbar-nav d-flex flex-row align-items-center">
      <div *ngIf="isLoggedIn; then thenBlock; else elseBlock"></div>
    </ul>
  </nav>
</header>
<ng-template #thenBlock>
  <li class="mr-3 pb-2" id="email">
    <a class="text-white">{{ email }}</a>
  </li>
  <li [routerLinkActive]="['active']" class="mx-1 pb-2" id="signin">
    <a [routerLink]="['home']" class="text-white">Home</a>
  </li>
  <li class="mx-3 pb-2" id="signup">
    <a (click)="logout()" class="text-white">Log out</a>
  </li>
</ng-template>
<ng-template #elseBlock>
  <li class="mr-3 pb-2" id="home">
    <a class="text-white">Home</a>
  </li>
  <li [routerLinkActive]="['active']" class="mx-1 pb-2" id="signin">
    <a [routerLink]="['signin']" class="text-white">Sign in</a>
  </li>
  <li [routerLinkActive]="['active']" class="mx-3 pb-2" id="signup">
    <a [routerLink]="['signup']" class="text-white">Sign Up</a>
  </li>
</ng-template>
