<div
  class="home d-flex flex-column align-items-center justify-content-center container mt-3"
>
  <div class="col-6">
    <form
      class="d-flex align-items-center justify-content-center"
      (ngSubmit)="findUser()"
    >
      <label for="username" class="p-0 m-0 ml-3">User name</label>
      <input
        type="text"
        class="form-control col-4 mx-3 py-1"
        [(ngModel)]="username"
        name="username"
        id="username"
      />
      <button type="submit" class="btn btn-primary mr-2">Find User</button>
    </form>
  </div>
  <div *ngIf="flag" class="github-user col-12 d-flex mt-2">
    <app-user-card [user]="githubUser" class="col-4"></app-user-card>
    <app-repos [repos]="repos" class="col-7"></app-repos>
  </div>
</div>
